#Bật mod_rewrite
RewriteEngine On

#Nếu file hoặc thư mục thật sự tồn tại thì truy cập trực tiếp (css, js, images...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Chuyển tất cả request còn lại về index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
